<launch>

    <!-- launch driver node -->
    <node name="new_driver" pkg="bdd" type="driver.py" output="screen"/>

    <!-- launch ZED camera using its ros wrapper --> 
    <include file="$(find zed_wrapper)/launch/zed.launch"/>

    <!-- launch car control inputs node -->
    <node name="arduino_car" pkg="bdd" type="arduino_car.py" output="screen"/>
    
    <arg name="rosbag_topics" value=
            "/state
            /steer_used
            /throttle_used
            /zed/left/image_rect_color
            /zed/right/image_rect_color" />
    
    <node pkg="rosbag" type="record" name="rosbag_record" args="--split --size=1024 -b 2048 --lz4 -o /media/nvidia/rosbags/roslogs/roslogs $(arg rosbag_topics)" />


</launch>




